.container {
	width: 100%;
	margin-left: 0;
	padding-left: 0;
}
.form {
	width: 100%;
	background-color: #e9e9e9;
	/* border-style: dotted; */
	border: 2px solid #d5d5d5;
}
.form-header {
	font-size: x-large;
	font-weight: 500;
	color: gray;
	font-style: italic;
}

.form-trx {
	width: 100%;
	padding: 15px;
	margin-left: auto;
	background-color: #e9e9e9;
}
