<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Attendance</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
		<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

		<style type="text/css">
			body {
				background: black;
			}
			.calandar {
				color: white;
				font-size: 80px;
				transform: translateY(50%);
			}
			.clock {
				color: white;
				font-size: 80px;
				transform: translateY(50%);
			}
		</style>
	</head>
	<body>
		<div class=".container-fluid">
			<div class="row" style="width: 100%; height: 353px;">
				<div class="col-md-5 bg-info">
					<div style="padding: 10px;">
						<button
							type="button"
							name="reportInOut"
							id="reportInOut"
							class="btn btn-primary btn-lg btn-block"
							style="margin: 10px; margin-top: 12px;"
						>
							Report In/Out
						</button>
						<button type="button" name="enroll" id="enroll" class="btn btn-primary btn-lg btn-block" style="margin: 10px; margin-top: 50px;">
							Enroll New Fingerprint
						</button>
						<div id="toEnroll" class="form-row border ml-3 mb-3" style="display: none;">
							<div class="form-group col-md-12 p-3">
								<label for="theEmployee">Employees*</label>
								<select class="custom-select form-control" id="theEmployee" name="theEmployee"> </select>
							</div>
							<div class="btn-group mx-auto align-self-center">
								<button type="button" name="toBack" id="toBack" class="btn btn-primary btn-lg btn-block btn-default" style="margin: 10px; margin-top: 50px;" >
									Back
								</button>
								<button type="button" name="toScan" id="toScan" class="btn btn-primary btn-lg btn-block btn-default" style="margin: 10px; margin-top: 50px;" >
									Enroll Fingerprint
								</button>
							</div>
						</div>
						<div id="servierMessageBox" class="border ml-3 p-3 bg-success" style="display: none; line-height:normal;"></div>
					</div>
				</div>
				<div class="col-md-7">
					<div id="theDate" class="d-flex calandar justify-content-center"></div>
					<div id="theClock" class="d-flex clock justify-content-center"></div>
				</div>
			</div>
			<div class="row" style="width: 100%; height: 95px;">
				<div id="theInfo" class="col-md-12 bg-info">
					<textarea name="displayText" id="displayText" rows="4" class="form-group form-control" style="width: 100%;" ; readonly></textarea>
				</div>
			</div>
		</div>
		<!-- style="height: auto; width: fit-content;" -->

		<script src="/static/js/utils.js"></script>

		<script type="text/javascript">
			$(document).ready(function () {
				showTime();

				var server_location = 'http://' + window.location.host + '/finger_namespace';
				var socket_message = io(server_location);

				socket_message.on('connect', function () {
					socket_message.emit('client_finger_connect', 'Socket connected.');
				});

				socket_message.on('disconnect', function () {
					alert('Socket disconnected. Please Contact Administrator');
				});

				$('#reportInOut').click(function () {
					socket_message.emit('client_finger_report_in_out', 'Report In/Out Employee.');
					$('#reportInOut').prop('disabled', true);
					$('#enroll').prop('disabled', true);
				});

				$('#enroll').click(function () {
					$('#toEnroll').show();
					$('#theEmployee').prop('disabled',false);
					$('#toBack').prop('disabled', false);
					$('#toScan').prop('disabled', false);
					$('#enroll').hide();
					$('#reportInOut').hide();
				});

				$('#toScan').click(function () {
					if ($('#theEmployee').val() !== ''){
						$('#theEmployee').prop('disabled', true);
						$('#toBack').prop('disabled', true);
						$('#toScan').prop('disabled', true);
						socket_message.emit('client_finger_enroll', $('#theEmployee').val());
					}
					else{
						var html_error_msg = '<p> Please Select an Employee to proceed</p>';
						$('#servierMessageBox').html(html_error_msg);
						$('#servierMessageBox').removeClass("bg-success").removeClass("bg-secondary").addClass("bg-danger");
						$('#servierMessageBox').fadeIn(500).delay(1000).fadeOut(500);						
					}
				});

				$('#toBack').click(function(){
					$('#toEnroll').hide();
					$('#enroll').show();
					$('#reportInOut').show();
					$('#theEmployee').val('');
				});

				socket_message.on('server_finger_completed_enroll',function(msg){

					var html_full_name = '<h2>'+ msg.full_name +'</h2>';
    				var html_message = '<p>' + msg.message + '</p>';

					$('#servierMessageBox').html(html_full_name + html_message);
					$('#servierMessageBox').removeClass("bg-secondary").removeClass("bg-danger").addClass("bg-success");
					$('#servierMessageBox').fadeIn(2000).delay(2000).fadeOut(2000);

					$('#theEmployee').prop('disabled',false);
					$('#toBack').prop('disabled', false);
					$('#toScan').prop('disabled', false);

				});


				socket_message.on('server_finger_completed_report_in',function(msg){
					var text_in_datetime = convertDateTime(msg.in_datetime);

					var html_full_name = '<h2>'+ msg.full_name +'</h2>';
    				var html_in_datetime = '<p>Report In :' + text_in_datetime + '</p>';

					$('#servierMessageBox').html(html_full_name + html_in_datetime);
					$('#servierMessageBox').removeClass("bg-secondary").removeClass("bg-danger").addClass("bg-success");
					$('#servierMessageBox').fadeIn(2000).delay(2000).fadeOut(2000);

					$('#reportInOut').prop('disabled', false);
					$('#enroll').prop('disabled', false);
				});

				socket_message.on('server_finger_completed_report_out',function(msg){
					var text_in_datetime = convertDateTime(msg.in_datetime);
					var text_out_datetime = convertDateTime(msg.out_datetime);
					var text_hour_duration = Math.floor(msg.actual_duration).toString();
					var text_min_duration = ((msg.actual_duration*60) % 60).toFixed(0).toString();

					var html_full_name = '<h2>'+ msg.full_name +'</h2>';
    				var html_in_datetime = '<p>Report In :' + text_in_datetime + '</p>';
    				var html_out_datetime = '<p>Report Out :' + text_out_datetime +'</p>';
    				var html_actual_duration = '<p>Duration: '+ text_hour_duration + '  hrs  ' + text_min_duration + '   mins' +'</p>';

					$('#servierMessageBox').html(html_full_name + html_in_datetime + html_out_datetime + html_actual_duration);
					$('#servierMessageBox').removeClass("bg-secondary").removeClass("bg-danger").addClass("bg-success");
					$('#servierMessageBox').fadeIn(2000).delay(2000).fadeOut(2000);

					$('#reportInOut').prop('disabled', false);
					$('#enroll').prop('disabled', false);
				});

				socket_message.on('server_finger_message_info',function(msg){

					var html_msg_header = '<h2>Info</h2>';
					var html_info_msg = '<p>Message :' + msg + '</p>';

					$('#servierMessageBox').html(html_msg_header + html_info_msg);
					$('#servierMessageBox').removeClass("bg-success").removeClass("bg-danger").addClass("bg-secondary");
					$('#servierMessageBox').fadeIn(2000).delay(2000).fadeOut(2000);

					$('#reportInOut').prop('disabled', false);
					$('#enroll').prop('disabled', false);
					});

				socket_message.on('server_finger_message_error',function(msg){

					var html_msg_header = '<h2>'+ Error +'</h2>';
    				var html_error_msg = '<p>Message :' + msg + '</p>';

					$('#servierMessageBox').html(html_msg_header + html_error_msg);
					$('#servierMessageBox').removeClass("bg-success").removeClass("bg-secondary").addClass("bg-danger");
					$('#servierMessageBox').fadeIn(2000).delay(2000).fadeOut(2000);

					$('#reportInOut').prop('disabled', false);
					$('#enroll').prop('disabled', false);
				});

				socket_message.on('server_finger_message', function (msg) {
					var temp_text = $('#displayText').val();

					if (temp_text !== '') {
						temp_text = temp_text + '\n' + msg;
					} else {
						temp_text = msg;
					}
					$('#displayText').html(temp_text);

					// To display the last line in the textarea
					var $textarea = $('#displayText');
					$textarea.scrollTop($textarea[0].scrollHeight);
				});
			});

			$(window).on('load', function () {
				populateDropDown('theEmployee', 'Select Employee..');
			});


			function convertDateTime(theDate){
				var lDate =  new Date(theDate);
				
				var hh = lDate.getHours() < 10 ? "0"+ lDate.getHours() : lDate.getHours();
				var mm = lDate.getMinutes() < 10 ? "0"+ lDate.getMinutes() : lDate.getMinutes();
				var ss = lDate.getSeconds() < 10 ? "0"+ lDate.getSeconds() : lDate.getSeconds();

				var dd = lDate.getDate() < 10 ? "0"+ lDate.getDate() : lDate.getDate();
				var mon = lDate.getMonth()+1;
				var theMonth = mon < 10 ? "0"+ mon : mon;
				var yyyy = lDate.getFullYear();

				return dd + "/" + theMonth + "/"+yyyy + " " + hh + ":" + mm + ":" + ss;
			};


			function showTime() {
				var theTime = new Date();

				var M = theTime.getMonth();
				var D = theTime.getDate();
				var Y = theTime.getFullYear();

				M = M < 10 ? '0' + M : M;
				D = D < 10 ? '0' + D : D;

				todayDate = D + '/' + M + '/' + Y;

				var h = theTime.getHours();
				var m = theTime.getMinutes();
				var s = theTime.getSeconds();

				h = h < 10 ? '0' + h : h;
				m = m < 10 ? '0' + m : m;
				s = s < 10 ? '0' + s : s;

				time = h + ':' + m + ':' + s;

				document.getElementById('theDate').innerText = todayDate;
				document.getElementById('theDate').innerContent = todayDate;
				document.getElementById('theClock').innerText = time;
				document.getElementById('theClock').innerContent = time;

				setTimeout(showTime, 1000);
			}
		</script>
	</body>
</html>
