<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Attendance</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
		<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

		<style type="text/css">
			body {
				background: black;
			}
			.calandar {
				color: white;
				font-size: 105px;
				transform: translateY(50%);
			}
			.clock {
				color: white;
				font-size: 105px;
				transform: translateY(50%);
			}
		</style>
	</head>
	<body>
		<div class=".container-fluid">
			<div class="row" style="width: 100%; height: 536px;">
				<div class="col-md-4 bg-info">
					<div style="padding: 10px;">
						<button
							type="button"
							name="reportInOut"
							id="reportInOut"
							class="btn btn-primary btn-lg btn-block"
							style="margin: 10px; margin-top: 130px;"
						>
							Report In/Out
						</button>
						<button type="button" name="enroll" id="enroll" class="btn btn-primary btn-lg btn-block" style="margin: 10px; margin-top: 50px;">
							Enroll New Fingerprint
						</button>
						<div id="toEnroll" class="form-row border ml-3" style="display: none;">
							<div class="form-group col-md-12 p-3">
								<label for="theEmployee">Employees*</label>
								<select class="custom-select form-control" id="theEmployee" name="theEmployee"> </select>
							</div>
							<div class="btn-group mx-auto align-self-center">
								<button type="button" name="toBack" id="toBack" class="btn btn-primary btn-lg btn-block btn-default" style="margin: 10px; margin-top: 50px;" >
									Back
								</button>
								<button type="button" name="toScan" id="toScan" class="btn btn-primary btn-lg btn-block btn-default" style="margin: 10px; margin-top: 50px;" >
									Enroll Fingerprint
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div id="theDate" class="d-flex calandar justify-content-center"></div>
					<div id="theClock" class="d-flex clock justify-content-center"></div>
				</div>
			</div>
			<div class="row" style="width: 100%; height: 95px;">
				<div id="theInfo" class="col-md-12 bg-info">
					<textarea name="displayText" id="displayText" rows="4" class="form-group form-control" style="width: 101%;" ; readonly></textarea>
				</div>
			</div>
		</div>
		<!-- style="height: auto; width: fit-content;" -->

		<script src="/static/js/utils.js"></script>

		<script type="text/javascript">
			$(document).ready(function () {
				showTime();

				var server_location = 'http://' + window.location.host + '/finger_namespace';
				var socket_message = io(server_location);

				socket_message.on('connect', function () {
					socket_message.emit('client_finger_connect', 'Socket connected.');
				});

				socket_message.on('disconnect', function () {
					alert('Socket disconnected. Please Contact Administrator');
				});

				$('#reportInOut').click(function () {
					socket_message.emit('client_finger_report_in_out', 'Report In/Out Employee.');
				});

				$('#enroll').click(function () {
					$('#toEnroll').show();
					$('#enroll').hide();
					$('#reportInOut').hide();
				});

				$('#toScan').click(function () {
					socket_message.emit('client_finger_enroll', $('#theEmployee').val());
				});

				$('#toBack').click(function(){
					$('#toEnroll').hide();
					$('#enroll').show();
					$('#reportInOut').show();
					$('#theEmployee').val('');
				});

				socket_message.on('server_finger_completed',function(){
					// to use callback funtion to reset the screen after the finger scanner complete the job
					$('#toEnroll').hide();
					$('#enroll').show();
					$('#reportInOut').show();
					$('#theEmployee').val('');
				});


				socket_message.on('server_finger_message', function (msg) {
					var temp_text = $('#displayText').val();

					if (temp_text !== '') {
						temp_text = temp_text + '\n' + msg;
					} else {
						temp_text = msg;
					}
					$('#displayText').html(temp_text);

					// To display the last line in the textarea
					var $textarea = $('#displayText');
					$textarea.scrollTop($textarea[0].scrollHeight);
				});
			});

			$(window).on('load', function () {
				populateDropDown('theEmployee', 'Select Employee..');
			});

			function showTime() {
				var theTime = new Date();

				var M = theTime.getMonth();
				var D = theTime.getDate();
				var Y = theTime.getFullYear();

				M = M < 10 ? '0' + M : M;
				D = D < 10 ? '0' + D : D;

				todayDate = D + '/' + M + '/' + Y;

				var h = theTime.getHours();
				var m = theTime.getMinutes();
				var s = theTime.getSeconds();

				h = h < 10 ? '0' + h : h;
				m = m < 10 ? '0' + m : m;
				s = s < 10 ? '0' + s : s;

				time = h + ':' + m + ':' + s;

				document.getElementById('theDate').innerText = todayDate;
				document.getElementById('theDate').innerContent = todayDate;
				document.getElementById('theClock').innerText = time;
				document.getElementById('theClock').innerContent = time;

				setTimeout(showTime, 1000);
			}
		</script>
	</body>
</html>
